// Profile.scss
// Styles for profile pages

@import '_colors';
@import '_fonts';
@import '_animations';
@import '_responsive';
@import 'compass';

// Universal styles (move out later)

$subheader-font-size: 17px;
$subheader-padding: 12px;

.profile-page {

  .page-header {
    padding: 60px 0px;
  }

  .page-content {
    padding: 10px 0px 60px 0px;
  }

  // Profile page specific styles

  .page-header--profile {
    @extend .page-header;
    padding-bottom: 30px;
    background-color: $plum-color;
    min-height: 210px;
    color: white;

    .profile_user-info {
      position: relative;
      padding-left: 120px;

      h1 {
        margin-top: 0px;
        padding-top: 5px;
        font-size: 26px;
        letter-spacing: 1px;

        span.username {
          font-size: 22px;
          @include opacity(0.7);
          font-weight: $font-weight-normal;
          font-family: $sans-serif-font;
        }
      }

      p {
        font-size: 17px;
      }

      a {
        color: #ccc;
      }
    }

    .profile_user-image {
      position: absolute;
      top: 0px; left: 0px;

      .user-image {
        height: 100px;
        width: 100px;
        display: inline-block;
        @include border-radius(50px);
        @include box-shadow(0px 0px 6px rgba(0,0,0,0.5));
        @include background-size(cover);
      }
    }
  }

  .page-content--profile {
    @extend .page-content;
    background-color: #fafafa;
    padding-bottom: 240px;
    min-height: 600px;

    .result-filters {
      margin: 15px 0px 45px 0px;

      a.result-filter {
        display: inline-block;
        margin-right: 20px;
        padding-bottom: $subheader-padding;
        font-weight: $font-weight-bold;
        font-size: $subheader-font-size;
        color: $light-font-color;
        text-decoration: none;
        position: relative;

        &:hover {
          color: $font-color;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 0px;
          height: 3px;
          background-color: $font-color;
          left: 50%;
          bottom: 0px;
          @include transition(0.12s ease-in-out);
        }

        &.active {
          color: $font-color;

          &:after {
            left: 0px;
            width: 100%;
          }
        }
      }
    }

    .practice-item-wrapper {
      position: relative;

      a.delete-practice, a.edit-practice {
        position: absolute;
        top: 0px;
        right: 1px;
        color: $light-font-color;

        &:hover { color: $font-color; }
      }

      a.edit-practice {
        top: 2px;
        right: 30px;
      }
    }
  }
}

.edit-profile-modal {
  padding: 30px;

  label {
    // display: none;
  }

  .input-wrapper {
    &.half-width {
      display: inline-block;
      width: 49%;

      &:first-child {
        margin-right: 2%;
      }
    }
  }

  input {
    outline: none;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    padding: 6px 10px;
    font-size: 16px;
  }

  .error-message {
    color: $error-color;
    margin-left: 10px;
  }

  form.submitted {
    input.ng-invalid, input.mismatch {
      border-color: $error-color;
      color: $error-color;

      &::-webkit-input-placeholder { /* WebKit browsers */
        color: lighten($error-color, 15);
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: lighten($error-color, 15);
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: lighten($error-color, 15);
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: lighten($error-color, 15);
      }

    }
  }

  // Internet Explorer styles

  .lt-ie10 & {
    label {
      display: inline;
    }
  }
}

// Password Reset Page

.password-page {
  min-height: 99%;
  background-color: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 90px;

  h1 {
    margin-bottom: 30px;
  }

  // Override normal blue links

  a {
    color: #999;
    text-decoration: none;
    &:hover {
      color: #666;
      text-decoration: none;
    }
  }

  .error-message {
    color: $error-color;
    margin-top: 30px;
  }
}
