*.pyc
.DS_Store
.sass-cache
.sass-cache/*
**/.sass-cache/*
**/.sass-cache
*.sublime-project
*.sublime-workspace
node_modules/
npm-debug.log
bower_components/
.tmp
.idea
dist/
stylesheets/
static/stylesheets/
static/fonts/
static/javascripts/*mindsetkit.min.js
static/javascripts/*vendor.min.js

system_notes.md

# For running the sdk with --storage_path=.
datastore.db
logs.db
logs.db-journal
search_indexes
xsrf
