{% extends 'base.html' %}

<!-- SEO tags -->

{% set title = "404" %}

{% block content %}

<div class="full-container">

  <div class="container four-oh-four">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>Oops, we couldn't find this page :(</h3>
        <p>
          Try returning to our <a href="/search">search page</a> to explore our library of courses and practices.
        </p>
        <a href="/" class="fake-document">?</a>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block footer %}
{% endblock %}
