<!-- Used to fetch gravatar in user service -->
<!-- <script src="//crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script> -->

<!-- Google Font -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,800italic,800,700,700italic,600italic,400italic,600' rel='stylesheet' type='text/css'>

<!-- Stylesheets -->

<!-- build:css /static/stylesheets/mindsetkit.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/static/bower_components/bootstrap-css-only/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/bower_components/components-font-awesome/css/font-awesome.css" />
  <!-- endbower -->
<link type="text/css" rel="stylesheet" href="/static/stylesheets/app.css"/>
<link type="text/css" rel="stylesheet" href="/static/stylesheets/main.css"/>
<link type="text/css" rel="stylesheet" href="/static/stylesheets/theme.css" />
<link type="text/css" rel="stylesheet" href="/static/stylesheets/topic.css" />
<link type="text/css" rel="stylesheet" href="/static/stylesheets/lesson.css" />
<link type="text/css" rel="stylesheet" href="/static/stylesheets/about.css"/>
<link type="text/css" rel="stylesheet" href="/static/stylesheets/admin.css"/>
<link type="text/css" rel="stylesheet" href="/static/stylesheets/mindsetmeter.css"/>
<link type="text/css" rel="stylesheet" href="/static/stylesheets/practices.css"/>
<link type="text/css" rel="stylesheet" href="/static/stylesheets/search.css"/>
<link type="text/css" rel="stylesheet" href="/static/stylesheets/profile.css"/>
<link type="text/css" rel="stylesheet" href="/static/stylesheets/redactor.css" />
<!-- endbuild -->

<!-- build:js /static/javascripts/vendor.min.js -->
  <!-- bower:js -->
  <script src="/static/bower_components/jquery/dist/jquery.js"></script>
  <script src="/static/bower_components/angular/angular.js"></script>
  <script src="/static/bower_components/fastclick/lib/fastclick.js"></script>
  <script src="/static/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/static/bower_components/jquery-ui/ui/jquery-ui.js"></script>
  <script src="/static/bower_components/angular-ui-slider/src/slider.js"></script>
  <script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/static/bower_components/mixpanel/mixpanel-jslib-snippet.js"></script>
  <!-- endbower -->
<!-- endbuild -->

<!-- FileAPI separated out, needs to work with shim -->
<script src="/static/javascripts/ng-file-upload-shim.min.js"></script>
<script src="/static/javascripts/ng-file-upload.min.js"></script>

<!-- build:js /static/javascripts/mindsetkit.min.js -->
  <script src="/static/javascripts/json2.min.js"></script>
  <script src="/static/javascripts/util.js"></script>
  <script src="/static/javascripts/app.js"></script>
  <script src="/static/javascripts/redactor.js"></script>

  <script src="/static/javascripts/services/api.service.js"></script>
  <script src="/static/javascripts/services/user.service.js"></script>
  <script src="/static/javascripts/services/elasticsuggest.service.js"></script>
  <script src="/static/javascripts/services/share.service.js"></script>
  <script src="/static/javascripts/services/facebook.service.js"></script>
  <script src="/static/javascripts/services/engagement.service.js"></script>
  <script src="/static/javascripts/controllers/landing.controller.js"></script>
  <script src="/static/javascripts/controllers/search.controller.js"></script>
  <script src="/static/javascripts/controllers/lesson.controller.js"></script>
  <script src="/static/javascripts/controllers/practice.controller.js"></script>
  <script src="/static/javascripts/controllers/create.controller.js"></script>
  <script src="/static/javascripts/controllers/auth.controller.js"></script>
  <script src="/static/javascripts/controllers/profile.controller.js"></script>
  <script src="/static/javascripts/controllers/mindsetmeter_distributor.controller.js"></script>
  <script src="/static/javascripts/controllers/enter_survey.controller.js"></script>
  <script src="/static/javascripts/controllers/admin.controller.js"></script>
  <script src="/static/javascripts/controllers/about.controller.js"></script>
  <script src="/static/javascripts/controllers/admin_email.controller.js"></script>
  <script src="/static/javascripts/directives/discussion.directive.js"></script>
  <script src="/static/javascripts/directives/feedback.directive.js"></script>
  <script src="/static/javascripts/directives/imageLoader.directive.js"></script>
  <script src="/static/javascripts/directives/navbar.directive.js"></script>
  <script src="/static/javascripts/directives/shareButton.directive.js"></script>
  <script src="/static/javascripts/directives/searchResult.directive.js"></script>
  <script src="/static/javascripts/directives/surveyRow.directive.js"></script>
<!-- endbuild -->
