{% extends 'base.html' %}

<!-- SEO tags -->

{% set title = "- Reset Password" %}

{% block head %}
  {{ super() }}
  <script type="text/javascript">

angular.module('mskApp').value('token', '{{ token }}');
angular.module('mskApp').value('validToken', {{ valid | to_json }});

  </script>
  <script src="/static/javascripts/controllers/reset_password.controller.js"></script>
{% endblock %}

{% block content %}
<div class="full-container">
  <div class="password-page">
  <div class="container" ng-controller="ResetPasswordController">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

        <h1>Password Reset</h1>

        <div ng-show="mode == 'validToken'" ng-cloak>
          <p>Please enter a new password</p>
          <form id="reset-password" class="form-horizontal">
            <div class="input-wrapper">
              <label for="newPassword" class="control-label">
                New password:
              </label>
              <input type="password" ng-model="newPassword" required
                     id="newPassword" name="newPassword"
                     placeholder="Password">
            </div>
            <div class="input-wrapper">
              <label for="repeatPassword" class="control-label">
                Repeat password:
              </label>
              <input type="password" ng-model="repeatPassword" required
                     id="repeatPassword" placeholder="Repeat password">
            </div>

            <p ng-show="badPassword" class="error-message">
              Password must be at least 8 characters, ASCII only.
            </p>

            <p ng-show="passwordMismatch" class="error-message">
              Passwords must match.
            </p>

            <button ng-click="resetPassword()" class="bordered-button"
                    ng-disabled="resetPasswordForm.$invalid">
                Submit
            </button>
          </form>
        </div>

        <div ng-show="mode == 'invalidToken'" ng-cloak>
          <p>
            This reset link is invalid or has expired.
          </p>
        </div>

        <div ng-show="mode == 'passwordChanged'" ng-cloak>
          <p>
            Your password has been changed!<br>
            Please <a href="/#login">log in</a>.
          </p>
        </div>

      </div>
    </div>
  </div>

  </div>

  {% include 'components/footer.html' %}

</div>

{% endblock %}