{% extends 'base.html' %}

{% block content %}

<div class="full-container subscription-page">

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>
          <a href="/">The Mindset Kit</a>
        </h1>
        <div class="success-box">
          <img src="/static/images/email/accepted-icon.png" height="70px">
          <p>
            You've been resubscribed. Welcome back!
          </p>
          <small>(This may take a day to take affect.)</small>
        </div>
        <p class="subtext">
          Now would be a great time to <a href="/search">explore our resources</a>
        </p>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block navbar %}
{% endblock %}

{% block feedback %}
{% endblock %}

{% block footer %}
{% endblock %}